<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Convertir Link a PDF</title>
    <script type="module" src="/src/main.js"></script>
    <link rel="stylesheet" href="/src/css/navbar.css" />
    <link rel="stylesheet" href="/src/css/style.css" />
  </head>
  <body>
    <header class="navbar">
      <div class="logo">
        <a class="logo-navbar" href="/index.html">
          <img src="/public/imgs/pdf-icon.png" alt="ConvertPDF Logo" />
          <span>ConvertPDF</span>
        </a>
      </div>
      <button class="logout-btn">
        <img src="/public/imgs/logout-icon.png" alt="ConvertPDF Logo" />
      </button>
    </header>

    <main class="container">
      <h1>Convertir Link a PDF</h1>
      <p>Ingresa la URL del archivo para generar un PDF.</p>

      <div class="input-container">
        <input
          type="text"
          id="url"
          placeholder="https://ejemplo.com/documento.pdf"
        />
        <button class="btn" id="convert">Convertir</button>
      </div>
    </main>
  </body>
</html>
