<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Convertir Link a PDF</title>
    <script type="module" src="/src/main.js"></script>
    <link rel="stylesheet" href="/src/css/title-btn-input.css" />
  </head>
  <body>
    <div class="title-btn">
      <h1>Convertir Link a PDF</h1>
      <button class="btn" onclick="window.location.href='/'">Inicio</button>
    </div>
    <div class="url-file">
      <h2>Ingresa la URL del archivo</h2>
      <input class="inputs" type="text" id="url" />
      <button class="btn" id="convert">Convertir</button>
    </div>
  </body>
</html>
